body{
  margin: 0;
  padding: 0;
  background: #f1f1f1;
}
.Profile-card{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: white;
  width: 400px;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  color: #314652;
  box-shadow: 1px 2px 8px 3px;
}
.top{
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
}
.top img{
  width: 100%;
  height: 199px;
}
#rectangle {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-left: 400px solid white;
  position: absolute;
  bottom: 0;
}
.content{
  padding: 0 10px;
  text-align: center;
  overflow: hidden;
  padding: 10px;
}
.content h2{
  margin: 0 0 8px 0px;
  text-transform: uppercase;
}
.content h3{
  margin: 0;
  text-transform: uppercase
}
.content ul{
  margin: 0;
  padding: 0;
}
.content ul li{
  list-style: none;
  display: inline-block;
  margin: 0 8px;
}
.content ul li a{
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  background: #99CA9C;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  transition: 0.2s all;
}
.content ul li a:hover {
    transform: scale(1.2);
    background-color: #CA8E55;
}
#rectangle1 {
  width: 0;
  height: 0;
  border-bottom: 30px solid transparent;
  border-right: 400px solid white;
  position: absolute;
  top: -1px;
}
.footer{
  width: 100%;
  height: 80px;
  position: relative;
  background: #3F9469;
  color: white;
}
.footer p{
  display: block;
  margin: 0;
  padding: 26px;
}

.my-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-left: 20px;
    padding: 10px 20px;
    background-color: #99CA9C;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Styling for the icon */
.my-button i {
    margin-right: 5px;
    font-size: 20px;
}

/* Styling for the button on hover */
.my-button:hover {
    background-color: #CA8E55;
}